<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <title>Posts Page</title>
</head>
<body>
    <!-- Header -->
    <header>
        <!-- Navbar -->
        <div class="nav container">
            <a href="../index.html" class="text-logo"><span style="color:#AA336A;">const </span>name <span style="color:#4288fd;">=</span> <span style="color:#AFE1AF;">"JHON LLYOD QUIZEO";</span></a>
        </div>
    </header>
    <!-- Post Content -->
    <section class="post-header">
        <div class="header-content post-container">
            <!-- Title -->
            <h1 class="header-title">React Native is fun!</h1>
            <!-- Post Image -->
            <img src="../images/img-9.jpeg" alt="" class="header-img">
        </div>
        <!-- Contents -->
        <br><br>
        <div class="post-container">
            <h1 class="content-header">Mobile development is awesome</h1><br>
            <p class="content-text">
                As a UI developer intern, I was assigned to develop a mobile application for a project. At first, I felt overwhelmed 
                since I had no prior experience with mobile development. However, because I had already been trained in React JS, 
                I quickly realized that React Native was essentially React for mobile development. This made it much easier for me 
                to understand and explore, and I was ultimately able to execute the tasks properly.
            </p>
        </div>
        <br><br>
    </section>

    <!-- Jquery cdn -->
    <script src="../js/main.js"></script>
    <script src="../js/typed.js"></script>
</body>
</html>