<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <title>Posts Page</title>
</head>
<body>
    <!-- Header -->
    <header>
        <!-- Navbar -->
        <div class="nav container">
            <a href="../index.html" class="text-logo"><span style="color:#AA336A;">const </span>name <span style="color:#4288fd;">=</span> <span style="color:#AFE1AF;">"JHON LLYOD QUIZEO";</span></a>
        </div>
    </header>
    <!-- Post Content -->
    <section class="post-header">
        <div class="header-content post-container">
            <!-- Title -->
            <h1 class="header-title">freeCodeCamp Web Responsive online course</h1>
            <!-- Post Image -->
            <img src="../images/img-1.jpeg" alt="" class="header-img">
        </div>
        <!-- Contents -->
        <br><br>
        <div class="post-container">
            <h1 class="content-header">Self Study</h1><br>
            <p class="content-text">
                Being an aspiring developer is not easy! We all know that, and to improve our development
                skills we need to keep learning new things through exploration, and self studying is one means of doing so, and
                the company even gives us time to study on our own and suggests free internet resources for interns.
            </p>
        </div>
        <br>
        <div class="post-container">
            <h1 class="content-header">freeCodeCamp</h1><br>
            <p class="content-text">
                I don't often take online courses because I like to learn through video tutorials, but this one is by far the 
                best I've taken because it's free and has a certificate we can use for our portfolios. All you need is time 
                to take this course, so I hope that my readers and other aspiring developers would do the same.
        </div>
        <br><br>
    </section>

    <!-- Jquery cdn -->
    <script src="../js/main.js"></script>
    <script src="../js/typed.js"></script>
</body>
</html>