<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <title>Posts Page</title>
</head>
<body>
    <!-- Header -->
    <header>
        <!-- Navbar -->
        <div class="nav container">
            <a href="../index.html" class="text-logo"><span style="color:#AA336A;">const </span>name <span style="color:#4288fd;">=</span> <span style="color:#AFE1AF;">"JHON LLYOD QUIZEO";</span></a>
        </div>
    </header>
    <!-- Post Content -->
    <section class="post-header">
        <div class="header-content post-container">
            <!-- Title -->
            <h1 class="header-title">Javascript / Typescript Data Structure Tasks</h1>
            <!-- Post Image -->
            <img src="../images/img-4.jpg" alt="" class="header-img">
        </div>
        <!-- Contents -->
        <br><br>
        <div class="post-container">
            <h1 class="content-header">Importance of DS</h1><br>
            <p class="content-text">
                Data structure is very important, and one of my regrets is not really paying much attention and studying
                about advanced data structures and now it came back to bite me.
            </p>
        </div>
        <br>
        <div class="post-container">
            <h1 class="content-header">CRUD Tasks</h1><br>
            <p class="content-text">
                I am requested to create a CRUD app within this time, but not just any CRUD app. The requirements are a 
                little challenging, plus the fact that I am new to Javascript and Typescript programming language was wild. It 
                should be a Linked list type of CRUD app. Although it was challenging, it was worthwhile because I learnt 
                a lot while completing the tasks.
            </p>
        </div>
        <br><br>
    </section>

    <!-- Jquery cdn -->
    <script src="../js/main.js"></script>
    <script src="../js/typed.js"></script>
</body>
</html>