<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <title>Posts Page</title>
</head>
<body>
    <!-- Header -->
    <header>
        <!-- Navbar -->
        <div class="nav container">
            <a href="../index.html" class="text-logo"><span style="color:#AA336A;">const </span>name <span style="color:#4288fd;">=</span> <span style="color:#AFE1AF;">"JHON LLYOD QUIZEO";</span></a>
        </div>
    </header>
    <!-- Post Content -->
    <section class="post-header">
        <div class="header-content post-container">
            <!-- Title -->
            <h1 class="header-title">PUG Template Engine & Express JS Tasks</h1>
            <!-- Post Image -->
            <img src="../images/img-5.jpg" alt="" class="header-img">
        </div>
        <!-- Contents -->
        <br><br>
        <div class="post-container">
            <h1 class="content-header">Front End Dev is Hard!</h1><br>
            <p class="content-text">
                I never imagined how challenging it would be to work as a front-end developer. It's absurd how many technological 
                frameworks and tools you need to learn and practice with in order to create a better user interface. The desire 
                for better user interfaces has grown dramatically over time. As improved UIs encourage an improved user experience.
            </p>
        </div>
        <br>
        <div class="post-container">
            <h1 class="content-header">Tasks Galore</h1><br>
            <p class="content-text">
                During this tasks, Interns in UI department are assigned to develop a Website User Interface using various tech
                stacks we just learned mainly PUG an HTML template engine for NodeJS and Express JS which is used to render and serve 
                static pages.
            </p>
        </div>
        <br><br>
    </section>

    <!-- Jquery cdn -->
    <script src="../js/main.js"></script>
    <script src="../js/typed.js"></script>
</body>
</html>